@import '../../Styles/utils/vars';


.logo {
  display: block;
  width: 80px;
  height: 26px;
  padding-left: 16px;
  background-image: url(../../assets/icons/header/Logo--Name.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: 640px) {
    padding-left: 24px;
  }
}

.nav {
  &__list {
    display: none;

    margin: 0;
    padding: 0;

    @media (min-width: 640px) {
        display: flex;
        gap: 32px;
      }
    
      @media (min-width: 1200px) {
        gap: 64px;
      }
  }

  &__item {
    position: relative;
    color: $color-secondary;
    list-style: none;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &:hover {
      color: black;
    }
  }
}

.header {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  height: 48px;

  background: #FFFFFF;
  box-shadow: 0px 1px 0px #E2E6E9;

  @media (min-width: 640px) {
    gap: 32px;
  }

  @media (min-width: 1200px) {
    height: 64px;
    gap: 48px;
  }


  &__icons {
    position: absolute;
    right: 0;
  }
}


.icon {

  display: none;
  box-sizing: border-box;

  width: 48px;
  height: 48px;

  background-color: #FFFFFF;
  box-shadow: -1px 0px 0px $color-element;

  background-repeat: no-repeat;
  background-position: center;

  &--menu {
    display: inline-block;
    box-sizing: border-box;

    width: 48px;
    height: 48px;

    background-color: #FFFFFF;
    box-shadow: -1px 0px 0px $color-element;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../assets/icons/header/icon--menu.svg');
    @media (min-width: 640px) {
        display: none;
      }
  }


  &--favorite-empty {
    background-image: url(../../assets/icons/header/icon--favorite-empty.svg);
  }

  &--cart-empty {
    background-image: url(../../assets/icons/header/icon--cart-empty.svg);
  }

    @media (min-width: 640px) {
      display: inline-block;
    }
  
    @media (min-width: 1200px) {
      width: 64px;
      height: 64px;
    }
}
